html {
	
  /*#1ab394 --> #23c6c8*/
  body.skin-2 {
  
    &.mini-navbar .nav-header {
      background-color: #23c6c8;
    }
    background-color: #233A51;
    .nav-header {
      background: #23c6c8;
      background: url("/o/demo-dashboard-theme/images/header-profile-skin-2.png");
      background-size: cover;
    }
    
    .control-menu-level-1 {
	    background-color: #233A51;
	    background-image: linear-gradient(to right, #233A51, #28435E);
	    color: #869cad;
	}
	
	.sidenav-menu {
	
		.sidebar-header {
		
			background-color: #28435E;
			
			.lexicon-icon {
				fill:white;
			}
			
		}
	}
    
  }
  
  
  body.skin-2.mini-navbar .nav-header {
    background-color: #23c6c8;
  }
  
  .skin-2.top-navigation {
    .navbar-nav .dropdown-menu > .active > a {
      color: #23c6c8;
    }
    .nav > li {
      a {
        &:hover, &:focus {
          color: #23c6c8;
        }
      }
      &.active > a {
        color: #23c6c8;
      }
    }
    .navbar-brand {
      background: #23c6c8;
    }
  }
  
  #wrapper {
  
	.btn-primary {
    
      &.btn-outline {
        color: #23c6c8;
      }
      background: #23c6c8;
      background-color: #23c6c8;
      border-color: #23c6c8;
      color: #FFFFFF;
      
    }
    
    .btn-link {
      &:hover, &:focus, &:active, &.active {
        color: #23c6c8;
      }
    }
    
    a {
      color: #23c6c8;
    }
    .setings-item a {
      color: white;
    }
    
  }
  
  body.skin-2 {
	    #side-menu.nav > li > a {
	      color: white;
	      &:hover, &:focus {
	        background: #263F59;
	      }
	    }
	    #top-navigation .nav > li.active {
	      border-color: #23C6C8;
	      background: #27415C;
	    }
	    #wrapper {
	      background: transparent;
	    }
	    .horiz-menu {
	      .nav > li > a {
	        color: #9ea6b9;
	      }
	      .navbar-brand {
	        background: #23c6c8;
	      }
	      .nav > li a {
	        &:hover, &:focus {
	          color: #23c6c8;
	        }
	      }
	      #top-navigation .navbar-top-navigation li.active {
	        > a {
	          color: #23c6c8;
	        }
	        border-color: #23c6c8;
	      }
	    }
	    
	    .navbar-static-top {
	      background: transparent;
	    }
	    
	    
	    
	    .navbar-default {
	      .special_link a {
	        background: #23c6c8;
	        span.label {
	          color: #23c6c8;
	        }
	      }
	      .landing_link a:hover {
	        background: #23c6c8 !important;
	      }
	    }
	    .navbar-toggle {
	      background-color: #23c6c8;
	    }
	    
	    .open .dropdown-toggle.btn-link {
	      color: #23c6c8;
	    }
	    .label-primary, .badge-primary {
	      background-color: #23c6c8;
	    }
	    .onoffswitch-label {
	      border-color: #23c6c8;
	    }
	    .onoffswitch-inner:before {
	      background-color: #23c6c8;
	    }
	    .onoffswitch-switch {
	      border-color: #23c6c8;
	    }
	    .fc-state-active {
	      background-color: #23c6c8;
	      border-color: #23c6c8;
	      color: #ffffff;
	    }
	    .fc-event, .fc-agenda .fc-event-time, .fc-event a {
	      background-color: #23c6c8;
	      border-color: #23c6c8;
	    }
	    a.list-group-item.active {
	      background-color: #23c6c8;
	      border-color: #23c6c8;
	      color: #FFFFFF;
	      &:hover, &:focus {
	        background-color: #23c6c8;
	        border-color: #23c6c8;
	        color: #FFFFFF;
	      }
	    }
	    .pace .pace-progress {
	      background: #23c6c8;
	    }
	    .form-control:focus, .single-line:focus {
	      border-color: #23c6c8 !important;
	    }
	    .has-success {
	      .form-control {
	        border-color: #23c6c8;
	      }
	      .control-label {
	        color: #23c6c8;
	      }
	    }
	    .noUi-connect {
	      background: none repeat scroll 0 0 #23c6c8;
	    }
	    .onoffswitch-label {
	      border-color: #23c6c8;
	    }
	    .onoffswitch-inner:before {
	      background-color: #23c6c8;
	    }
	    .onoffswitch-switch {
	      border-color: #23c6c8;
	    }
	    .toast, .toast-success {
	      background-color: #23c6c8;
	    }
	    .inspinia-notify.alert-info {
	      border-left-color: #23c6c8;
	    }
	    .forum-item.active {
	      .fa, a.forum-item-title {
	        color: #23c6c8;
	      }
	    }
	    .vertical-date small {
	      color: #23c6c8;
	    }
	    .branding {
	      background-color: #23c6c8;
	    }
	    .navy-bg {
	      background-color: #23c6c8;
	      color: #ffffff;
	    }
	    .panel-primary > .panel-heading {
	      background-color: #23c6c8;
	      border-color: #23c6c8;
	    }
	    .progress-bar {
	      background-color: #23c6c8;
	    }
	    .text-navy, .category-list li a .text-navy, .faq-question, .issue-tracker .btn-link {
	      color: #23c6c8;
	    }
	    .agile-list li.success-element {
	      border-left-color: #23c6c8;
	    }
	    .open-small-chat {
	      background: #23c6c8;
	      &:hover {
	        background: #23c6c8;
	      }
	    }
	    .small-chat-box .content .chat-message.active {
	      background: #23c6c8;
	    }
	    .sk-spinner-rotating-plane.sk-spinner {
	      background-color: #23c6c8;
	    }
	    .sk-spinner-double-bounce {
	      .sk-double-bounce1, .sk-double-bounce2 {
	        background-color: #23c6c8;
	      }
	    }
	    .sk-spinner-wave div {
	      background-color: #23c6c8;
	    }
	    .sk-spinner-wandering-cubes {
	      .sk-cube1, .sk-cube2 {
	        background-color: #23c6c8;
	      }
	    }
	    .sk-spinner-chasing-dots {
	      .sk-dot1, .sk-dot2 {
	        background-color: #23c6c8;
	      }
	    }
	    .sk-spinner-three-bounce div, .sk-spinner-circle .sk-circle:before, .sk-spinner-cube-grid .sk-cube, .sk-spinner-wordpress.sk-spinner, .sk-spinner-fading-circle .sk-circle:before {
	      background-color: #23c6c8;
	    }
	    .spin-icon, .navbar-default .landing_link a {
	      background: #23c6c8;
	    }
	    .nav-tabs > li > a {
	      color: #A7B1C2;
	    }
	    #page-wrapper {
	      background: #F7F7F7;
	    }
	    #wrapper, .navbar-static-top {
	      background-color: transparent;
	      background: transparent;
	    }
  }
  
  .skin-2 { 	
	    .navbar-form-custom input[type=image] {
	      background-color: #23c6c8;
	    }
	    &.top-navigation .nav > li.active > a, #portlet_33 .entry-title a:hover {
	      color: #23c6c8;
	    }
	    .dockbar-user-notifications {
	      .dropdown-toggle .user-notifications-count, .user-notifications-count {
	        background-color: #23c6c8;
	      }
	    }
	    button, .btn, html input[type="button"] {
	      background-color: #23c6c8;
	      background: #23c6c8;
	      color: #FFFFFF;
	    }
	    input {
	      &[type="reset"], &[type="submit"] {
	        background-color: #23c6c8;
	        background: #23c6c8;
	        color: #FFFFFF;
	      }
	    }
	    .btn {
	      &:hover, &:focus, &:active, &.active, &.disabled, &[disabled] {
	        background: #23c6c8;
	        color: #FFFFFF;
	      }
	    }
	    .navbar .btn-navbar {
	      background: #23c6c8;
	      color: #FFFFFF;
	      &:hover, &:focus, &:active {
	        background: #23c6c8;
	        color: #FFFFFF;
	      }
	    }
	    .microblogs-portlet .microblogs-entry-form .microblogs-countdown {
	      background: #23c6c8;
	    }
	    #portlet_3 form input[type="image"] {
	      background-color: #23c6c8;
	    }
	    .notifications-portlet .nav a:hover {
	      background: #23c6c8;
	    }
  	}
}

/*************Style************/

/*************Custom************/

.notifications-portlet .nav a:focus {
  background: #23c6c8;
}

html {
  .skin-2 {
    .notifications-portlet .nav a {
      &.selected, .count {
        background: #23c6c8;
      }
      &.selected .count {
        color: #23c6c8;
      }
    }
    #main-content .navbar .nav[role='menubar'] {
      > li > a {
        &:focus, &:hover {
          background: #23c6c8;
        }
      }
      li.active a {
        background: #23c6c8;
      }
    }
    #portlet_115 .entry-content:before, #portlet_33 .entry.approved:before {
      background: #23c6c8;
    }
    .nav.nav-tabs li.active {
      background: #23c6c8;
      a {
        background: #23c6c8;
      }
    }
    .form-search .input-append .btn {
      background: #23c6c8 url("../../images/common/search.png") center no-repeat;
    }
    .social-activities {
      border-left-color: #23c6c8;
    }
    .contacts-portlet {
      .portlet .portlet-content .portlet-body form, .contacts-result-container-content .contacts-list .contacts-search .icon-search {
        background: #23c6c8;
      }
    }
    .portlet-topper .portlet-topper-toolbar .portlet-icon-back {
      &:hover {
        color: #23c6c8;
      }
      color: #23c6c8;
    }
    &.yui3-skin-sam {
      .yui3-calendar-header {
        background: #23c6c8;
      }
      .calendar-portlet .yui3-calendar-weekday {
        color: #23c6c8;
      }
    }
    .toggler-header-expanded.calendar-portlet-list-header {
      background: #23c6c8;
    }
    .calendar-portlet-list-header.toggler-header {
      &.toggler-header-collapsed, &.toggler-header-expanded {
        background: #23c6c8;
      }
    }
    &.yui3-skin-sam .calendar-portlet .yui3-calendar-day {
      &:hover {
        background: #23c6c8;
      }
      &.yui3-calendar-day-selected {
        &:hover, &.lfr-busy-day:hover {
          background: #23c6c8;
        }
      }
    }
    .scheduler-base-hd {
      .scheduler-base-controls button {
        &.active, &:hover, &:focus {
          background: #23c6c8;
        }
      }
      .scheduler-base-views button {
        &.active, &:hover, &:focus {
          background: #23c6c8;
        }
      }
    }
    .calendar-portlet .calendar-portlet-column-grid .scheduler-event {
      background: #23c6c8;
      color: white;
    }
    .portlet-document-library-display .accordion-heading .accordion-toggle {
      background: #23c6c8;
    }
  }
  body.skin-2.collapsed-menu #p_p_id_145_ {
    #_2_WAR_notificationsportlet_userNotifications, #_145_mySites, #_145_adminLinks, #_145_userAvatar, #_145_navAddControlsNavbarBtn {
      background: #23c6c8;
    }
  }
  .skin-2 {
    &.top-navigation .search-layout .nav > li {
      background: transparent;
      &.active {
        background: transparent;
      }
      a {
        background: transparent;
        color: inherit;
      }
    }
    .nav-pills > li.active > a {
      background: #23c6c8;
      color: white;
      &:hover, &:focus {
        background: #23c6c8;
        color: white;
      }
    }
    &.top-navigation .search-layout .nav > li.default a {
      background: #23c6c8;
      color: white;
    }
    .nav-pills > li {
      &.default a {
        background: #23c6c8;
        color: white;
      }
      &.active:not(.default) > a {
        background: transparent;
        color: inherit;
        border-left: 3px solid #23c6c8;
        &:hover, &:focus {
          background: transparent;
          color: inherit;
          border-left: 3px solid #23c6c8;
        }
      }
    }
    &.top-navigation .search-layout .nav > li.active:not(.default) a {
      background: transparent;
      color: inherit;
      border-left: 3px solid #23c6c8;
    }
  }
}

@media (max-width: 1300px) {
  html .skin-2 #p_p_id_145_ {
    #_2_WAR_notificationsportlet_userNotifications, #_145_mySites, #_145_adminLinks, #_145_userAvatar, #_145_navAddControlsNavbarBtn {
      background: #23c6c8;
    }
  }
}