.row-fluid {
  width: 100%;
  *zoom: 1;
  &:before {
    display: table;
    content: "";
    line-height: 0;
  }
  &:after {
    display: table;
    content: "";
    line-height: 0;
    clear: both;
  }
  [class*="span"] {
    display: block;
    width: 100%;
    min-height: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    margin-left: 2.12766%;
    *margin-left: 2.07447%;
    &:first-child {
      margin-left: 0;
    }
  }
  .controls-row [class*="span"] + [class*="span"] {
    margin-left: 2.12766%;
  }
  .span1 {
    width: 6.38298%;
    *width: 6.32979%;
  }
  .span2 {
    width: 14.89362%;
    *width: 14.84043%;
  }
  .span3 {
    width: 23.40426%;
    *width: 23.35106%;
  }
  .span4 {
    width: 31.91489%;
    *width: 31.8617%;
  }
  .span5 {
    width: 40.42553%;
    *width: 40.37234%;
  }
  .span6 {
    width: 48.93617%;
    *width: 48.88298%;
  }
  .span7 {
    width: 57.44681%;
    *width: 57.39362%;
  }
  .span8 {
    width: 65.95745%;
    *width: 65.90426%;
  }
  .span9 {
    width: 74.46809%;
    *width: 74.41489%;
  }
  .span10 {
    width: 82.97872%;
    *width: 82.92553%;
  }
  .span11 {
    width: 91.48936%;
    *width: 91.43617%;
  }
  .span12 {
    width: 100%;
    *width: 99.94681%;
  }
}

[class*="span"].hide, .row-fluid [class*="span"].hide {
  display: none;
}

[class*="span"].pull-right, .row-fluid [class*="span"].pull-right {
  float: right;
}

input[class*="span"], select[class*="span"], textarea[class*="span"], .uneditable-input[class*="span"] {
  float: none;
  margin-left: 0;
}

.row-fluid {
  input[class*="span"], select[class*="span"], textarea[class*="span"], .uneditable-input[class*="span"] {
    float: none;
    margin-left: 0;
  }
}

.input-append {
  input[class*="span"], .uneditable-input[class*="span"] {
    display: inline-block;
  }
}

.input-prepend {
  input[class*="span"], .uneditable-input[class*="span"] {
    display: inline-block;
  }
}

.row-fluid {
  input[class*="span"], select[class*="span"], textarea[class*="span"], .uneditable-input[class*="span"], .input-prepend [class*="span"], .input-append [class*="span"] {
    display: inline-block;
  }
}

.controls-row [class*="span"] + [class*="span"] {
  margin-left: 20px;
}

input.span1, textarea.span1, .uneditable-input.span1 {
  width: 46px;
}

input.span2, textarea.span2, .uneditable-input.span2 {
  width: 126px;
}

input.span3, textarea.span3, .uneditable-input.span3 {
  width: 206px;
}

input.span4, textarea.span4, .uneditable-input.span4 {
  width: 286px;
}

input.span5, textarea.span5, .uneditable-input.span5 {
  width: 366px;
}

input.span6, textarea.span6, .uneditable-input.span6 {
  width: 446px;
}

input.span7, textarea.span7, .uneditable-input.span7 {
  width: 526px;
}

input.span8, textarea.span8, .uneditable-input.span8 {
  width: 606px;
}

input.span9, textarea.span9, .uneditable-input.span9 {
  width: 686px;
}

input.span10, textarea.span10, .uneditable-input.span10 {
  width: 766px;
}

input.span11, textarea.span11, .uneditable-input.span11 {
  width: 846px;
}

input.span12, textarea.span12, .uneditable-input.span12 {
  width: 926px;
}

.controls-row [class*="span"], .row-fluid .controls-row [class*="span"] {
  float: left;
}

.controls-row {
  .checkbox[class*="span"], .radio[class*="span"] {
    padding-top: 5px;
  }
}

table {
  td[class*="span"], th[class*="span"] {
    display: table-cell;
    float: none;
    margin-left: 0;
  }
}

.row-fluid table {
  td[class*="span"], th[class*="span"] {
    display: table-cell;
    float: none;
    margin-left: 0;
  }
}

.table {
  td.span1, th.span1 {
    float: none;
    width: 44px;
    margin-left: 0;
  }
  td.span2, th.span2 {
    float: none;
    width: 124px;
    margin-left: 0;
  }
  td.span3, th.span3 {
    float: none;
    width: 204px;
    margin-left: 0;
  }
  td.span4, th.span4 {
    float: none;
    width: 284px;
    margin-left: 0;
  }
  td.span5, th.span5 {
    float: none;
    width: 364px;
    margin-left: 0;
  }
  td.span6, th.span6 {
    float: none;
    width: 444px;
    margin-left: 0;
  }
  td.span7, th.span7 {
    float: none;
    width: 524px;
    margin-left: 0;
  }
  td.span8, th.span8 {
    float: none;
    width: 604px;
    margin-left: 0;
  }
  td.span9, th.span9 {
    float: none;
    width: 684px;
    margin-left: 0;
  }
  td.span10, th.span10 {
    float: none;
    width: 764px;
    margin-left: 0;
  }
  td.span11, th.span11 {
    float: none;
    width: 844px;
    margin-left: 0;
  }
  td.span12, th.span12 {
    float: none;
    width: 924px;
    margin-left: 0;
  }
}

.row-fluid .thumbnails {
  margin-left: 0;
}

@media (min-width: 1200px) {
  .row {
    margin-left: -30px;
    *zoom: 1;
    &:before {
      display: table;
      content: "";
      line-height: 0;
    }
    &:after {
      display: table;
      content: "";
      line-height: 0;
      clear: both;
    }
  }
  [class*="span"] {
    float: left;
    min-height: 1px;
    margin-left: 30px;
  }
  .span1 {
    width: 70px;
  }
  .span2 {
    width: 170px;
  }
  .span3 {
    width: 270px;
  }
  .span4 {
    width: 370px;
  }
  .span5 {
    width: 470px;
  }
  .span6 {
    width: 570px;
  }
  .span7 {
    width: 670px;
  }
  .span8 {
    width: 770px;
  }
  .span9 {
    width: 870px;
  }
  .span10 {
    width: 970px;
  }
  .span11 {
    width: 1070px;
  }
  .span12 {
    width: 1170px;
  }
  .row-fluid {
    width: 100%;
    *zoom: 1;
    &:before {
      display: table;
      content: "";
      line-height: 0;
    }
    &:after {
      display: table;
      content: "";
      line-height: 0;
      clear: both;
    }
    [class*="span"] {
      display: block;
      width: 100%;
      min-height: 30px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      float: left;
      margin-left: 2.5641%;
      *margin-left: 2.51091%;
      &:first-child {
        margin-left: 0;
      }
    }
    .controls-row [class*="span"] + [class*="span"] {
      margin-left: 2.5641%;
    }
    .span1 {
      width: 5.98291%;
      *width: 5.92971%;
    }
    .span2 {
      width: 14.52991%;
      *width: 14.47672%;
    }
    .span3 {
      width: 23.07692%;
      *width: 23.02373%;
    }
    .span4 {
      width: 31.62393%;
      *width: 31.57074%;
    }
    .span5 {
      width: 40.17094%;
      *width: 40.11775%;
    }
    .span6 {
      width: 48.71795%;
      *width: 48.66476%;
    }
    .span7 {
      width: 57.26496%;
      *width: 57.21177%;
    }
    .span8 {
      width: 65.81197%;
      *width: 65.75877%;
    }
    .span9 {
      width: 74.35897%;
      *width: 74.30578%;
    }
    .span10 {
      width: 82.90598%;
      *width: 82.85279%;
    }
    .span11 {
      width: 91.45299%;
      *width: 91.3998%;
    }
    .span12 {
      width: 100%;
      *width: 99.94681%;
    }
  }
  .controls-row [class*="span"] + [class*="span"] {
    margin-left: 30px;
  }
  input.span1, textarea.span1, .uneditable-input.span1 {
    width: 56px;
  }
  input.span2, textarea.span2, .uneditable-input.span2 {
    width: 156px;
  }
  input.span3, textarea.span3, .uneditable-input.span3 {
    width: 256px;
  }
  input.span4, textarea.span4, .uneditable-input.span4 {
    width: 356px;
  }
  input.span5, textarea.span5, .uneditable-input.span5 {
    width: 456px;
  }
  input.span6, textarea.span6, .uneditable-input.span6 {
    width: 556px;
  }
  input.span7, textarea.span7, .uneditable-input.span7 {
    width: 656px;
  }
  input.span8, textarea.span8, .uneditable-input.span8 {
    width: 756px;
  }
  input.span9, textarea.span9, .uneditable-input.span9 {
    width: 856px;
  }
  input.span10, textarea.span10, .uneditable-input.span10 {
    width: 956px;
  }
  input.span11, textarea.span11, .uneditable-input.span11 {
    width: 1056px;
  }
  input.span12, textarea.span12, .uneditable-input.span12 {
    width: 1156px;
  }
  .row-fluid .thumbnails {
    margin-left: 0;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .row {
    margin-left: -20px;
    *zoom: 1;
    &:before {
      display: table;
      content: "";
      line-height: 0;
    }
    &:after {
      display: table;
      content: "";
      line-height: 0;
      clear: both;
    }
  }
  [class*="span"] {
    float: left;
    min-height: 1px;
    margin-left: 20px;
  }
  .container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
    width: 724px;
  }
  .span1 {
    width: 42px;
  }
  .span2 {
    width: 104px;
  }
  .span3 {
    width: 166px;
  }
  .span4 {
    width: 228px;
  }
  .span5 {
    width: 290px;
  }
  .span6 {
    width: 352px;
  }
  .span7 {
    width: 414px;
  }
  .span8 {
    width: 476px;
  }
  .span9 {
    width: 538px;
  }
  .span10 {
    width: 600px;
  }
  .span11 {
    width: 662px;
  }
  .span12 {
    width: 724px;
  }
  .row-fluid {
    width: 100%;
    *zoom: 1;
    &:before {
      display: table;
      content: "";
      line-height: 0;
    }
    &:after {
      display: table;
      content: "";
      line-height: 0;
      clear: both;
    }
    [class*="span"] {
      display: block;
      width: 100%;
      min-height: 30px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      float: left;
      margin-left: 2.76243%;
      *margin-left: 2.70924%;
      &:first-child {
        margin-left: 0;
      }
    }
    .controls-row [class*="span"] + [class*="span"] {
      margin-left: 2.76243%;
    }
    .span1 {
      width: 5.8011%;
      *width: 5.74791%;
    }
    .span2 {
      width: 14.36464%;
      *width: 14.31145%;
    }
    .span3 {
      width: 22.92818%;
      *width: 22.87499%;
    }
    .span4 {
      width: 31.49171%;
      *width: 31.43852%;
    }
    .span5 {
      width: 40.05525%;
      *width: 40.00206%;
    }
    .span6 {
      width: 48.61878%;
      *width: 48.56559%;
    }
    .span7 {
      width: 57.18232%;
      *width: 57.12913%;
    }
    .span8 {
      width: 65.74586%;
      *width: 65.69266%;
    }
    .span9 {
      width: 74.30939%;
      *width: 74.2562%;
    }
    .span10 {
      width: 82.87293%;
      *width: 82.81974%;
    }
    .span11 {
      width: 91.43646%;
      *width: 91.38327%;
    }
    .span12 {
      width: 100%;
      *width: 99.94681%;
    }
  }
  .controls-row [class*="span"] + [class*="span"] {
    margin-left: 20px;
  }
  input.span1, textarea.span1, .uneditable-input.span1 {
    width: 28px;
  }
  input.span2, textarea.span2, .uneditable-input.span2 {
    width: 90px;
  }
  input.span3, textarea.span3, .uneditable-input.span3 {
    width: 152px;
  }
  input.span4, textarea.span4, .uneditable-input.span4 {
    width: 214px;
  }
  input.span5, textarea.span5, .uneditable-input.span5 {
    width: 276px;
  }
  input.span6, textarea.span6, .uneditable-input.span6 {
    width: 338px;
  }
  input.span7, textarea.span7, .uneditable-input.span7 {
    width: 400px;
  }
  input.span8, textarea.span8, .uneditable-input.span8 {
    width: 462px;
  }
  input.span9, textarea.span9, .uneditable-input.span9 {
    width: 524px;
  }
  input.span10, textarea.span10, .uneditable-input.span10 {
    width: 586px;
  }
  input.span11, textarea.span11, .uneditable-input.span11 {
    width: 648px;
  }
  input.span12, textarea.span12, .uneditable-input.span12 {
    width: 710px;
  }
}

@media (max-width: 767px) {
  .row-fluid {
    width: 100%;
  }
  .row, .thumbnails {
    margin-left: 0;
  }
  [class*="span"], .uneditable-input[class*="span"], .row-fluid [class*="span"] {
    float: none;
    display: block;
    width: 100%;
    margin-left: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .span12 {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .row-fluid {
    .span12 {
      width: 100%;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }
    [class*="offset"]:first-child {
      margin-left: 0;
    }
  }
  .input-large, .input-xlarge, .input-xxlarge, input[class*="span"], select[class*="span"], textarea[class*="span"], .uneditable-input {
    display: block;
    width: 100%;
    min-height: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .input-prepend input, .input-append input, .input-prepend input[class*="span"], .input-append input[class*="span"] {
    display: inline-block;
    width: auto;
  }
  .controls-row [class*="span"] + [class*="span"] {
    margin-left: 0;
  }
}