/*Couleur principale*/
$main-color:#d29d00;

/*Un ton plus clair que $main-color*/
$main-color-light:#fec700;

/*Un ton plus clair que $main-color-light2*/
$main-color-light2:#fec700;

/*Un ton plus sombre que $main-color*/
$main-color-dark:#d58400;

/*Couleur des élements inactifs*/
$color-disabled:silver;