 /*#wrapper .order-list-portlet table {
    animation: fadein 2s;
    -moz-animation: fadein 2s;
    -webkit-animation: fadein 2s; 
    -o-animation: fadein 2s; 
 }*/

#wrapper .order-list-portlet .badge {
    display: inline-block;
    padding: 2px 8px;
    font-size: 11.844px;
    font-weight: bold;
    line-height: 14px;
    color: white;
    vertical-align: baseline;
    white-space: nowrap;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #014495;
    border-radius: 3px;
}

#wrapper .order-list-portlet .new-11 {
	background-color: #98D04E;
} 

#wrapper .order-list-portlet .canceled-14 {
	background-color: #B73C23;
} 

#wrapper .order-list-portlet .unknown-15 {
	background-color: silver;
} 

#wrapper .order-list-portlet .closed-16 {
	background-color: silver;
} 

#wrapper .order-list-portlet .in-progress-12 {
	background-color: #488f06;
} 

#wrapper .order-list-portlet .shipped-13 {
	background-color: #28ABF6;
}